.stands-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.list {
  columns: 3;
}
.list img {
  width: 100%;
  margin-bottom: 20px;
  max-height: 380px;
}
#right-stands {
  margin-left: 25px;
}
@media screen and (max-width: 600px) {
  .list {
    columns: 180px;
  }
  #right-stands {
    margin-left: 0;
  }
}
@media screen and (max-width: 900px) {
  #right-stands {
    margin-left: 0;
    padding: 20px;
  }
}
