.sorties-add-container {
  position: relative;
}
.add-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 15px;
  font-size: larger;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
