* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

input:focus,
textarea:focus {
  outline: none;
}

:root {
  --primary-color: #007a9e;
}

body,
#root {
  min-height: 100vh;
}
